.about {
    background-color: #00c0c0;

    &__image {
        position: relative;
    }

    &-image {
        margin-top: 70px;
        margin-left: -50px;
        padding-bottom: 64px;
        max-width: 100%;
        max-width: 100%;

        @media screen and (max-width: 767px) {
            margin-top: 165px;
        }

        @media screen and (max-width: 575px) {
            padding-top: 20px;
            margin: 0 auto;
            padding-bottom: 0px;
        }

    }

    &__content {
        color: white;
        line-height: 27px;
        margin-left: 70px;

        @media screen and (max-width: 1199px) {
            margin-left: 20px;

        }

        @media screen and (max-width: 991px) {
            margin-left: 0px;
            padding-bottom: 40px;

        }

        @media screen and (max-width: 767px) {
            padding-bottom: 40px;


        }

        @media screen and (max-width: 575px) {
            padding-bottom: 40px;
            margin-left: 5px;
            margin-right: 5px;


        }
    }


    &__title {
        font-size: 90px;
        font-weight: 700;
        margin-top: 201px;


        @media screen and (max-width: 1199px) {
            margin-top: 120px;

        }

        @media screen and (max-width: 991px) {
            margin-top: 50px;
            font-size: 48px;


        }

        @media screen and (max-width: 767px) {
            font-size: 48px;


        }

        @media screen and (max-width: 575px) {
            font-size: 48px;
            margin-top: 20px;


        }





    }

    &__text {
        font-size: 17px;
        font-weight: 300;
        line-height: 27px;
        margin-top: 46px;

        @media screen and (max-width: 575px) {
            margin-top: 20px;


        }
    }

    &__text-in {

        padding-top: 12px;
    }
}