.blog {
    & {
        background-color: #b07cf7;
        color: white;
        margin-top: -163px;
    }

    &__link {
        position: relative;

        @media screen and (max-width: 1199px) {
            margin-bottom: 30px;
        }

        @media screen and (max-width: 575px) {
            margin-right: -15px;
            margin-left: -15px;
        }



    }



    // &__main {
    //     @media screen and (max-width: 575px) {
    //         padding-right: -15px;
    //         padding-left: -15px;
    //     }

    // }

    &-link {
        max-width: 100%;

        @media screen and (max-width: 991px) {
            margin-right: 30px;
        }

        // @media screen and (max-width: 575px) {
        //     padding-right: -15px;
        //     padding-left: -15px;
        // }

    }

    &-image {

        max-width: 100%;

        @media screen and (max-width: 575px) {
            margin-right: -30px;
            width: 100%;
        }


        &:hover {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }

    &-title {
        font-size: 90px;
        font-weight: 700;
        text-align: center;
        margin-top: 90px;

        @media screen and (max-width: 575px) {
            margin-top: 48px;
            font-size: 50px;
            font-weight: 600;
        }
    }

    &-text {
        font-size: 17px;
        font-weight: 300;
        line-height: 25px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 43px;
    }

    &-button {
        & {
            width: 200px;
            height: 55px;
            background-color: #f72b3b;
            border: none;
            margin-bottom: 120px;
            margin-top: 49px;

            @media screen and (max-width: 575px) {
                margin-bottom: 40px;
                margin-top: 0px;


            }

        }

        &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }



        &[value="VIEW MORE"] {
            color: white;
            font-size: 20px;
            font-weight: 300;
            line-height: 25px;

        }

    }



}


.link {

    &__content {
        max-width: 100%;
        position: absolute;
        margin-top: -300px;
        pointer-events: none;

        @media screen and (max-width: 1199px) {
            margin-top: -255px;
        }

        @media screen and (max-width: 991px) {
            margin-top: -180px;
        }

        @media screen and (max-width: 767px) {
            margin-top: -140px;
        }

        @media screen and (max-width: 575px) {
            margin-top: 15px;
        }

    }

    &__date {

        width: 60px;
        height: 60px;
        opacity: 0.5;
        background-color: #262626;
        border-radius: 5px;
        margin-top: 19px;
        margin-left: 30px;

        @media screen and (max-width: 991px) {
            width: 36px;
            height: 36px;
            margin-left: 15px;
        }

        @media screen and (max-width: 575px) {
            margin-top: -255px;
            width: 60px;
            height: 60px;
            margin-left: 30px;
        }
    }

    &__number {

        padding-top: 4px;
        font-size: 32px;
        font-weight: 700;
        line-height: 25px;
        text-align: center;

        @media screen and (max-width: 991px) {
            font-size: 16px;
            line-height: 14px;
        }

        @media screen and (max-width: 575px) {
            font-size: 32px;
            line-height: 25px;
        }
    }

    &__month {

        padding-top: 2px;
        text-align: center;
        font-size: 21px;
        font-weight: 800;
        line-height: 25px;

        @media screen and (max-width: 991px) {
            font-size: 11px;
            line-height: 12px;
        }

        @media screen and (max-width: 575px) {
            font-size: 21px;
            line-height: 25px;
        }
    }

    &__tagline {
        max-width: 100%;
        padding-left: 20px;
        padding-top: 31%;

        @media screen and (max-width: 1199px) {
            padding-top: 25%;
        }

        @media screen and (max-width: 991px) {
            padding-left: 12px;


        }

        @media screen and (max-width: 767px) {
            padding-top: 25%;
        }

        @media screen and (max-width: 575px) {
            padding-top: 20%;
            padding-left: 20px;
        }
    }


    &__title {
        line-height: 25px;
        font-size: 20px;
        font-weight: 700;

        @media screen and (max-width: 991px) {
            line-height: 12px;
            font-size: 14px;

        }

        @media screen and (max-width: 767px) {
            line-height: 10px;
            font-size: 10px;

        }

        @media screen and (max-width: 575px) {
            line-height: 25px;
            font-size: 20px;
            width: 80%;

        }
    }

    &__text {
        margin-top: 14px;
        line-height: 25px;
        font-size: 13px;
        font-weight: 300;

        @media screen and (max-width: 767px) {
            line-height: 10px;
            font-size: 8px;
            margin-top: 5px;

        }

        @media screen and (max-width: 575px) {
            line-height: 25px;
            font-size: 13px;
            width: 80%;

        }
    }




}